body {
    background: #272822;
    color: white;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

code {
    /* real developers need real fonts ;-) */
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}